<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>놀이터</title>
    <link rel="stylesheet" href="/css/fragment/footer.css">
    <link rel="stylesheet" href="/css/fragment/header.css">
    <link rel="stylesheet" href="/css/mypage/my-page.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: 'SegoeUI_online_security';
            src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
        }

        @font-face {
            font-family: 'SegoeUI_bold_online_security';
            src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
        }
        @font-face {
            font-family: 'KakaoBig Bold';
            src: url(/font/KakaoBigBold.woff2);
        }

        @font-face {
            font-family: 'KakaoBig Regular';
            src: url(/font/KakaoBigBold.woff2);
        }
    </style>
</head>
<body>
<div id="page-container">
    <div id="dkWrap">
        <th:block th:replace="~{fragment/header :: header}"></th:block>
        <!--메인 시작-->

        <span id="rootContent">
            <user-header>
                <div id="dkContent" class="cont_mypage">
                    <div id="mArticle">
                        <div class="mypage_cont">
                            <h2 class="screen_out">마이페이지</h2>
                            <div data-tiara-layer="user" class="group_profile">
                                <h3 class="screen_out">내 프로필 정보</h3>
                                <div class="area_name">
                                    <div class="link_myprofile">
                                        <strong class="txt_nick" th:text="${user.userDivision}"></strong>
                                        <div class="box_name">
                                            <th:block th:if="${user.userName != null}">
                                                <strong class="txt_name" th:text="${user.userName}" > 닉네임 </strong>
                                            </th:block>
                                            <th:block th:unless="${user.userName != null}">
                                                 <strong class="txt_name" th:text="${user.userNickname}" > 닉네임 </strong>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                                <th:block th:if="${user.userProfileName != null}">
                                    <div class="area_thumb">
                                        <a class="link_thumb" href="">
                                            <span class="profile_thumb">
                                                <img alt="프로필 사진" class="img_thumb" th:src="@{/file/display(fileName=${user.userProfilePath} + '/' + ${user.userProfileName})}">
                                            </span>
                                        </a>
                                    </div>
                                </th:block>
                                <th:block th:unless="${user.userProfileName != null}">
                                    <th:block th:if="${user.userKakaoProfileUrl eq null}">
                                        <div class="area_thumb">
                                            <a class="link_thumb" href="">
                                                <span class="profile_thumb">
                                                    <img alt="프로필 사진" class="img_thumb" src="https://t1.kakaocdn.net/together_image/common/avatar/avatar04.png">
                                                </span>
                                            </a>
                                        </div>
                                    </th:block>
                                    <th:block th:unless="${user.userKakaoProfileUrl eq null}">
                                        <div class="area_thumb">
                                            <a class="link_thumb" href="">
                                                <span class="profile_thumb">
                                                    <img alt="프로필 사진" class="img_thumb" th:src="${user.userKakaoProfileUrl}">
                                                </span>
                                            </a>
                                        </div>
                                    </th:block>
                                </th:block>
                                <div class="area_setting">
                                    <a class="link_setting" href="preferences">
                                        <span class="screen_out">프로필</span> 설정
                                    </a>
                                    <form th:action="@{/login/logout}" method="get">
                                        <button>로그아웃</button>
                                    </form>
                                </div>
                            </div>
                            <!--프로필 까지-->
                        </div>
                        <hr class="hr">
                        <main id="kakaoContent">
                            <div id="cMain">
                                <!-- 내용 -->
                                <div>
                                    <!-- side navigation -->
                                    <div id="mFeature">
                                        <h2 class="tit_menu"> 놀이터  </h2>
                                        <strong class="screen_out">
                                            놀이터 메뉴
                                        </strong>
                                        <nav id="kakaoGnb">
                                            <ul class="list_menu">
                                               <li>
                                                    <a class="link_menu" href="my-page">
                                                        자유게시판 목록
                                                    </a>
                                                </li>
                                                <li class="on">
                                                    <a class="link_menu" href="my-page-consulting">
                                                        고민 상담 내역
                                                    </a>
                                                </li>
                                                <th:block th:if="${user.userDivision == 1}">
                                                     <li>
                                                        <a class="link_menu" href="my-page-example">
                                                            예상문제
                                                        </a>
                                                    </li>
                                                </th:block>
                                                <li>
                                                    <a class="link_menu" href="my-page-inquiry">
                                                        문의 내역
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- side navigation -->
                                    <!--리스트-->
                                    <article class="cont_public consulting">
                                        <h3 class="tit_public"> 고민 게시판 목록 </h3>
                                        <ol class="wrap_cont" id="faq_list">
                                            <!--리스트 한칸-->
                                            <th:block th:each="post , stat:${posts}" th:object="${post}" >
                                                <li class="item_info" >
                                                <div class="info_tit">
                                                    <a class="link_cont" data-faq-url="/helps?articleId=1073184833&amp;service=72&amp;category=150&amp;device=&amp;locale=ko"  href="" onclick="return false ;">
                                                        <span class="num_info" th:text="${(stat.index + 1) + (pagination.page - 1) * 12}">1</span>
                                                        <strong class="tit_info" th:text="*{postTitle}"> 카카오같이가치는 어떤 서비스인가요? </strong>
                                                        <span class="btn_arr">
                                                            <span class="ico_arr ico_cs" aria-hidden="true">내용 영역 열기</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="info_cont">
                                                    <div class="content help_contents" id="1073184833">
                                                        <div class="content_area">
                                                            <p style="line-height: 1;"  th:text="*{postContent}"></p>
                                                        </div>
                                                        <form th:action="@{/mypage/consulting-post-update}" class="edit_area hide updatePost" method="post">
                                                            <input type="hidden" name="postTitle" th:value="*{postTitle}">
                                                            <input type="hidden" name="id" th:value="*{id}">
                                                            <textarea class="edit_content" name="postContent" th:text="*{postContent}"></textarea>
                                                        </form>
                                                    <div class="bundle_btn">
                                                        <button class="cancelBtn btn_cs hide_btn">
                                                            취소하기
                                                        </button>
                                                    </div>
                                                    <form class="bundle_btn" th:action="@{/mypage/consulting-post-delete}" method="post">
                                                        <input type="hidden" th:value="*{id}" name="id">
                                                        <button class="deleteBtn btn_cs">
                                                            삭제하기
                                                        </button>
                                                    </form>
                                                    <div class="bundle_btn">
                                                        <button class="editBtn btn_cs">
                                                            수정하기
                                                        </button>
                                                    </div>
                                                    <div class="bundle_btn">
                                                        <button class="updateButton btn_cs hide_btn">
                                                            수정하기
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                            </li>
                                            </th:block>
                                            <!--리스트 한칸-->
                                        </ol>
                                        <div class="paging_comm">
                                            <a th:if="${pagination.prev == true}" class="btn_paging btn_prev change-page" rel="prev" th:href="${pagination.startPage > 1} ? ${pagination.startPage - 1} : ${pagination.page}" th:disabled="${pagination.page == 1}"><span class="ico_cs ico_arr">이전 페이지로 이동</span></a>
                                            <span th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                                <em th:if="${page eq pagination.page}" class="link_page" th:text="${page}"></em>
                                                <a th:unless="${page eq pagination.page}" class="link_page change-page" th:href="${page}" th:text="${page}"></a>
                                            </span>
                                            <a th:if="${pagination.next == true}"  class="btn_paging btn_next change-page" rel="next" th:href="${pagination.endPage == pagination.realEnd} ? ${pagination.page} : ${pagination.endPage + 1}"><span class="ico_cs ico_arr">다음 페이지로 이동</span></a>
                                        </div>
                                        <div class="name search">
                                            <div class="name_div1">
                                                <input type="text" placeholder="검색" id="keyword" name="search" th:value="${keyword}">
                                                <button type="button" class="phone_b1" id="search" style="background-color: rgb(220, 220, 220);">검색</button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                         </main>
                    </div>
                </div>
            </user-header>
        </span>

        <!--메인 끝-->
        <hr class="hr">
        <!--푸터 시작-->
        <th:block th:replace="~{fragment/footer :: footer}"></th:block>
        <!--푸터 끝-->
    </div>
</div>
</body>
<script type="text/javascript" src="/js/mypage/my-page.js">
</script>
<script th:inline="javascript">
    let users = [[${user}]]
    console.log(users)
    $('.txt_nick').text($('.txt_nick').text() == 0 ? "학생" : "교사") ;

    $("a.change-page").on("click", function(e){
        e.preventDefault();
        let page = $(this).attr("href");
        let type = $("select[name=type]").val();
        let keyword = $("#keyword").val();
        location.href = `/mypage/my-page-consulting?page=${page}&keyword=${keyword}`;
    });



        //     검색
    document.getElementById("search").addEventListener("click", async () => {
        const keyword = document.getElementById("keyword").value;
        location.href = `/mypage/my-page-consulting?page=1&keyword=${keyword}`;
    });
</script>
</html>