<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/administrator/administratorLogin.css">
</head>
<body>
<div id="wrap">
    <div class="div1">
        <div class="div2">
            <main class="main1">
                <div class="main1_div1" style="padding-top: 50px">
                    <h1 class="h1">
                            <span class="span1">
                                <span class="span2" >놀이터 관리자 페이지</span>
                            </span>
                    </h1>
                </div>
                <article class="main1_article1">
                    <div class="div1" style="height: 100%; padding: 55px 0 50px;">
                        <div class="div2">
                            <form th:action="@{/administrator/administrator-login}" method="post" th:object="${administratorVO}" class="form1">
                                <div class="d1">
                                    <div class="d1_1">
                                        <label for="">계정정보 입력</label>
                                        <input th:field="*{administratorId}" type="text" placeholder="관리자 아이디" id="input-id">
                                    </div>
                                    <p class="d1_p"></p>
                                </div>
                                <div class="d2">
                                    <div class="d2_1">
                                        <label for="">비밀번호 입력</label>
                                        <input th:field="*{administratorPassword}" type="password" placeholder="관리자 비밀번호" id="input-password">
                                        <div class="d2_2"></div>
                                    </div>
                                </div>
                                <div class="d3_5" role="alert">
                                    <p>
                                        관리자계정을 입력해 주세요.
                                        <br>
                                    </p>
                                </div>
                                <div class="d4">
                                    <button type="submit" class="bt1">로그인</button>
                                </div>
                            </form>
                            <div class="div3">
                                <a class="a1">회원가입</a>
                                <ul>
                                    <li class="li1">
                                        <a class="a2">아이디 찾기</a>
                                    </li>
                                    <li class="li2">
                                        <a class="a3">비밀번호 찾기</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
            <footer class="main2">
                <small>
                    Copyright ©
                    <a class="" href="">Playground Corp.</a>
                    All rights reserved.
                </small>
            </footer>
        </div>
    </div>
</div>
</body>
<script>
    const button = document.querySelector("#wrap > div > div > main > article > div > div > form > div.d4 > button");
    const inputs = document.querySelectorAll(".form1 input");
    function inp(){
        const input = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 input[name=in]");
        const span1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span1");
        const span2 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span2");


        if(span2.style.visibility === 'visible') {
            span2.style.visibility = 'hidden';
        }
        else{
            span2.style.visibility = 'visible';
        }
    }

    button.addEventListener("click", (e) => {
        for(inp of inputs){
            if(!inp.value){
                alert("아이디 또는 비밀번호를 입력해주세요.")
                return;
            }
        }
        form.submit();
    })

    const administratorLoginCheck = [[${administratorLoginCheck}]];
    if(administratorLoginCheck === false){
        alert("아이디 또는 비밀번호가 일치하지 않습니다.");
    }

    // 회원가입 페이지로 이동
    const moveJoinPage = document.querySelector("#wrap > div > div > main > article > div > div > div > a");

    moveJoinPage.addEventListener("click",(e)=> {
        window.location.href = "administrator-join";
    })

    // 아이디 찾기 페이지로 이동
    const moveFindId = document.querySelector("#wrap > div > div > main > article > div > div > div > ul > li.li1 > a")

    moveFindId.addEventListener("click", (e) => {
        window.location.href = 'administrator-id-find';
    });

//     비밀번호 찾기 페이지로 이동
    const moveFindPassword = document.querySelector("#wrap > div > div > main > article > div > div > div > ul > li.li2 > a");

    moveFindPassword.addEventListener("click",(e) => {
        window.location.href = 'administrator-password-find';
    })




</script>
</html>