<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMINISTARTOR_JOIN</title>
    <link rel="stylesheet" href="/css/administrator/administratorJoin.css">
</head>
<body>
<div id="wrap">
    <div class="div1">
        <div class="div2">
            <main class="main1">
                <div class="main1_div1" style="padding-top: 50px">
                    <h1 class="h1">
                            <span class="span1">
                                <span class="span2" >관리자 회원가입</span>
                            </span>
                    </h1>
                </div>
                <article class="main1_article1">
                    <form name="f1" th:action="@{/administrator/administrator-join}" method="post" th:object="${administratorVO}">
                        <div class="div1" style="height: 100%; padding: 55px 0 50px;">
                            <div class="id" style="margin-top: 24px">
                                <label>
                                    <span>아이디</span>
                                </label>
                                <div class="id_div1">
                                    <input th:field="*{administratorId}" type="text" placeholder="관리자 아이디를 입력하세요" id="input-id"/>
                                </div>
                            </div>
                            <div class="password" style="margin-top: 24px">
                                <label for="">
                                    <span>비밀번호</span>
                                </label>
                                <div class="password_div1">
                                    <input th:field="*{administratorPassword}" type="password" placeholder="관리자 비밀번호를 입력하세요" id="input-password"/>
                                </div>
                            </div>
                            <div class="passwordCheck" style="margin-top: 24px">
                                <label for="">
                                    <span>비밀번호 확인</span>
                                </label>
                                <div class="passwordCheck_div1">
                                    <input th:field="*{administratorPasswordCheck}" type="password" placeholder="관리자 비밀번호를 다시 입려하세요" id="input-password-check"/>
                                </div>
                            </div>
<!--                            <div class="phone" style="margin-top: 24px">-->
<!--                                <label for="">-->
<!--                                    <span>휴대폰 번호</span>-->
<!--                                </label>-->
<!--                                <div class="phone_div1">-->
<!--                                    <div class="phone_div2">-->
<!--                                        <div class="phone_div3">-->
<!--                                            <input  type="text">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <button class="phone_b1">-->
<!--                                        인증번호 발송-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="phonecheck" style="margin-top: 24px">-->
<!--                                <label for="">-->
<!--                                    <span>인증번호</span>-->
<!--                                </label>-->
<!--                                <div class="phonecheck_div1">-->
<!--                                    <div class="phonecheck_div2">-->
<!--                                        <input type="text">-->
<!--                                    </div>-->
<!--                                    <button class="phonecheck_b1">-->
<!--                                        인증하기-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="email" style="margin-top: 24px">
                                <label for="">
                                    <span>이메일</span>
                                </label>
                                <div class="email_div1">
                                    <input th:field="*{administratorEmail}" type="text" placeholder="'@' 를 포함한 이메일 형태" id="input-email"/>
                                </div>
                            </div>

                            <div class="join" style="margin-top: 24px">
                                <button>가입하기</button>
                            </div>
                        </div>
                    </form>
                </article>
            </main>
            <footer class="main2">
                <strong>서비스 이용정보</strong>
                <small>
                    Copyright ©
                    <a class="" href="">Playground Corp.</a>
                    All rights reserved.
                </small>
            </footer>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/templates/administrator/administrator-join.html"></script>
<script th:inline="javascript">

    function inp(){
        const input = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 input[name=in]");
        const span1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span1");
        const span2 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span2");


        if(span2.style.visibility === 'visible') {
            span2.style.visibility = 'hidden';
        }
        else{
            span2.style.visibility = 'visible';
        }
    }

    const b1 = document.querySelector('.phone_b1');
    b1.addEventListener("mouseover", (e) => {
        e.target.style.backgroundColor = '#b4b4b4';
    })

    b1.addEventListener("mouseout", (e) => {
        e.target.style.backgroundColor = '#dcdcdc';
    })

    const b2 = document.querySelector('.phonecheck_b1');
    b2.addEventListener("mouseover", (e) => {
        e.target.style.backgroundColor = '#b4b4b4';
    })

    b2.addEventListener("mouseout", (e) => {
        e.target.style.backgroundColor = '#dcdcdc';
    })

    const joinButton = document.querySelector("#wrap > div > div > main > article > form > div > div.join > button");
    const inputs = document.querySelectorAll("form[name=f1] input");
    joinButton.addEventListener("click", (e) =>{
        console.log(inp);
        for(inp of inputs){
            if(!inp.value) {
                alert("정보를 입력해주세요.")
                return;
            }
        }
        form.submit();
    })

    const getAdministratorId = [[${foundId}]];
    if(getAdministratorId === false){
        alert("이미 존재하는 아이디입니다.");
    }

    const passwordCheck = [[${passwordCheck}]];
    if(passwordCheck === null){
        alert("비밀번호가 일치하지 않습니다.")
    }


</script>
</html>