<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀이터</title>
    <link rel="stylesheet" href="/css/post/re.css">
    <link rel="stylesheet" href="/css/fragment/footer.css">
    <link rel="stylesheet" href="/css/fragment/header.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: 'SegoeUI_online_security';
            src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
        }

        @font-face {
            font-family: 'SegoeUI_bold_online_security';
            src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
        }
        @font-face {
            font-family: 'KakaoBig Bold';
            src: url(/font/KakaoBigBold.woff2);
        }

        @font-face {
            font-family: 'KakaoBig Regular';
            src: url(/font/KakaoBigBold.woff2);
        }
    </style>
</head>
<body style="overflow: auto;">
    <!-- header -->
    <th:block th:replace="~{fragment/header :: header}"></th:block>
    <section class="sc-1a3c6e24-0 eqFEpj">
        <div class="sc-8aeb359-0 hFOIQn sc-1a3c6e24-1 HgrJa" style="display: flex">
            <div class="sc-1a3c6e24-2 idgDx" >
                <div class="sc-2d400d90-0 eSgzBo">
                    <h3 color="black" class="sc-8aeb359-0 hymUBJ sc-5dc55ca7-0 sc-2d400d90-1 exRItp Papik" th:text="${session.post.postTitle}">게시글 제목</h3>
                    <div class="sc-8aeb359-0 hFOIQn sc-dd445c0e-0 fkDnWj count_information_container">
                        <div class="sc-8aeb359-0 gVnVx sc-dd445c0e-2 daNeIt count_container" role="text">
                            <div aria-label="" class="sc-dd445c0e-3 jdwAGc number_count">
                                <em size="25" color="black" aria-hidden="true" class="sc-5dc55ca7-0 sc-dd445c0e-6 dydokl hA-dlL text_amount_total" th:text="${session.post.postContent}">
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--게시판 좋아요-->
            <th:block th:if="${session.user != null}">
                <div style="margin-left:auto">
                    <form style="display:flex; flex-direction: column;">
                        <input type="hidden" th:value="${session.post.id}" name="postId" class="postIdInput">
                        <input type="hidden" th:value="${session.user.id}" name="userId" class="postUserIdInput">
                        <th:block th:if="${session.post.status == 1 || session.post.status == null}">
                            <button type="button" style="display: block" class="postLikeButton">
                                <img src="/icon/nolike.png" style="width: 30px">
                            </button>
                            <button type="button" style="display: none" class="postLikeCancelButton">
                                <img src="/icon/like.png" style="width: 30px">
                            </button>
                        </th:block>
                        <th:block th:unless="${session.post.status == 1 || session.post.status == null}">
                            <button type="button" style="display: none" class="postLikeButton">
                                <img src="/icon/nolike.png" style="width: 30px">
                            </button>
                            <button type="button" style="display: block" class="postLikeCancelButton">
                                <img src="/icon/like.png" style="width: 30px">
                            </button>
                        </th:block>
                        <span class="postLikeCount" th:text="${session.post.likeCount} != null ? ${session.post.likeCount} + '개' : '0개'">개!</span>
                    </form>
                </div>
            </th:block>
            <th:block th:unless="${session.user != null}">
                <div style="margin-left:auto">
                    <button style="display: block"><img src="/icon/nolike.png" style="width: 30px"></button>
                    <span th:text="${session.post.likeCount} != null ? ${session.post.likeCount} + '개' : '0개'"></span>
                </div>
            </th:block>
            <!--게시판 좋아요-->
            <form th:if="${session.user.id == session.post.userId}" style="display: flex; margin-right: 50px;" th:action="@{/post/free-update}" method="get">
                <input type="hidden" name="postTitle" th:value="${session.post.postTitle}">
                <input type="hidden" name="postContent" th:value="${session.post.postContent}">
                <input type="hidden" name="id" th:value="${session.post.id}">
                <button style="min-width: 68px; display: flex; align-items: start;">게시물 수정</button>
            </form>
            <form th:unless="${session.user.id == session.post.userId}" style="display: flex; margin-right: 50px;"></form>
        </div>
    </section>
<div id="comment" class="sc-f4c5cbb7-0 gmVKaT">
    <div class="sc-8aeb359-0 ixfNlY">
        <strong class="sc-695c2ba5-0 WfZZU">
            댓글 쓰기
        </strong>
<!--        <th:block th:if="${session.user != null}">-->
        <th:block th:if="${session.user != null}">
            <div tabindex="0" class="sc-8aeb359-0 hFOIQn sc-289da4e9-1 fsYXMb">
                <div class="sc-8aeb359-0 hFOIQn sc-611af9b7-0 bTWOMX textarea_field ">
                    <div class="sc-8aeb359-0 hFOIQn sc-611af9b7-1 bfKFmo textarea_field_box">
                        <div class="sc-8aeb359-0 cppPdh sc-611af9b7-8 jDMVzj writer_profile_container">
                            <th:block th:if="${session.user.userKakaoProfileUrl eq null}">
                                <div style="background: url(https://t1.kakaocdn.net/together_image/common/avatar/avatar03.png) 50% 50% / cover no-repeat; " class="sc-8d574ded-0 llYZxn"></div>
                            </th:block>
                            <th:block th:unless="${session.user.userKakaoProfileUrl eq null}">
                                <div th:style="'background: url(\'' + ${session.user.userKakaoProfileUrl} + '\') 50% 50% / cover no-repeat;'" class="sc-8d574ded-0 llYZxn"></div>
                            </th:block>
                            <strong class="sc-5dc55ca7-0 joehHl" th:text="${session.user.userName}">닉네임</strong>
                        </div>
                        <form th:action="@{/post/free-post-detail}" method="post" id="replyCreate">
                            <input type="hidden" name="postId" th:value="${session.post.id}">
                            <input type="hidden" name="userId" th:value="${session.user.id}">
                            <input type="hidden" name="userKakaoProfileUrl" th:value="${session.user.userKakaoProfileUrl}">
                            <input type="hidden" name="userName" th:value="${session.user.userName}">
                            <input type="hidden" name="userNickname" th:value="${session.user.userNickname}">
                            <label>
                                <textarea name="replyContent" placeholder="따뜻한 댓글을 남겨주세요" class="sc-611af9b7-2 cOpjMa textarea"></textarea>
                            </label>
                        </form>
                    </div>
                    <div class="sc-611af9b7-3 iVGqkP util_box">
                        <div class="sc-611af9b7-9 fppNqm">
                            <button type="button" color="black" class="sc-e7c24948-0 JpBrT button sc-289da4e9-0 eLeBAi" id="textareaSubmitButton">
                                등록
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="sc-8aeb359-0 ejoHza sc-36758169-0 BkBuU">
        <!--댓글 수-->
        <strong class="sc-5dc55ca7-0 joehHl" th:text="|댓글 ${#lists.size(session.replys)}|">댓글 20</strong>
    </div>
    <div class="sc-8aeb359-0 eussnB sc-36758169-1 lkolbO">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 21 20" width="16" height="16" opacity="1" class="sc-62ee9b1b-0 ffgRtj">
            <circle cx="10.5" cy="10" r="10" fill="#FF0048"></circle>
            <mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="12" height="10">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.167 5h11v10h-11V5z" fill="#fff"></path>
            </mask>
            <g mask="url(#a)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.573 6.444c-.325 0-.58.098-.671.14-.95.443-.951 
                1.392-.948 1.5v.027c0 1.519 1.593 2.822 
                3.713 3.821 2.12-1 3.713-2.302 
                3.712-3.82l.001-.036c.003-.1 0-1.05-.953-1.495-.212-.094-1.333-.511-2.14.798a.728.728 0 
                0 1-1.24 0c-.465-.754-1.034-.935-1.474-.935zM15.44 15a.73.73 0 
                0 1-.16-.018c-.95-.213-2.786-.683-4.613-1.468-1.828.785-3.665 1.255-4.613 
                1.468a.723.723 0 1 1-.32-1.412 27.083 27.083 0 0 0 3.188-.92C7.035 11.563 
                5.505 10.078 5.5 8.12c-.005-.244.017-2.022 1.788-2.85.713-.336 2.197-.556 
                3.379.575 1.181-1.13 2.665-.911 3.381-.573 1.769.826 1.79 2.604 1.785 2.848-.005 
                1.957-1.535 3.442-3.422 4.529 1.045.375 2.14.685 3.188.92A.723.723 0 0 1 15.44 15z" fill="#fff">
                </path>
            </g>
        </svg>
        <span class="sc-5dc55ca7-0 kpRjNB">
            타인을
            <span style="color: #ff4050" class="sc-8aeb359-0 cueQjB sc-5dc55ca7-0 fTeLUS">
                비방하는
            </span>
            댓글은 형사처벌이 가능합니다
        </span>
    </div>
    <div class="sc-8aeb359-0 hTiRNC">
        <div class="sc-929b507f-0 eaFmFC commentList">
            <!--댓글 한칸-->
            <th:block th:each="reply:${session.replys}" th:object="${reply}">

                <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                    <div class="sc-16ecadde-1 iSRxwL">
                        <!--유저 프로필 사진-->
                        <th:block th:if="*{userKakaoProfileUrl eq null}">
                            <div style="background: url(https://t1.kakaocdn.net/together_image/common/avatar/avatar03.png) 50% 50% / cover no-repeat; " class="sc-8d574ded-0 llYZxn"></div>
                        </th:block>
                        <th:block th:unless="*{userKakaoProfileUrl eq null}">
                            <div th:style="'background: url(\'' + *{userKakaoProfileUrl} + '\') 50% 50% / cover no-repeat;'" class="sc-8d574ded-0 llYZxn"></div>
                        </th:block>
                    </div>
                    <div class="sc-16ecadde-3 eUXhAe">
                        <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                            <div class="sc-16ecadde-5 eiLDmy">
                                <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY" th:text="*{userName}">닉네임</strong>
                                <th:block th:if="${session.user != null}">
                                    <th:block th:if="${reply.userId == session.user.id}">
                                        <form>
                                            <button type="button" style="margin-left: 65px; font-size: 12px;" class="replyChange">수정</button>
                                            <button type="button"  style="margin-left: 65px; font-size: 12px; display: none" class="replySubmit">완료</button>
                                        </form>
                                        <div>
                                            <button type="button" style="font-size: 12px; margin-left: 5px; display: none" class="replyCancel">취소</button>
                                        </div>
                                        <form th:action="@{/post/free-post-reply-delete}" method="post">
                                            <input type="hidden" th:value="${reply.id}" name="replyId">
                                            <input type="hidden" th:value="${reply.postId}" name="postId">
                                            <button style="font-size: 12px; margin-left: 5px;" class="replyDelete">삭제</button>
                                        </form>
                                    </th:block>
                                    <th:block th:unless="${reply.userId == session.user.id}">
                                        <form>
                                            <button type="button" style="margin-left: 65px; font-size: 12px; display: none" class="replyChange">수정</button>
                                            <button type="button"  style="margin-left: 65px; font-size: 12px; display: none" class="replySubmit">완료</button>
                                        </form>
                                        <div>
                                            <button type="button" style="font-size: 12px; margin-left: 5px; display: none" class="replyCancel">취소</button>
                                        </div>
                                        <form th:action="@{/post/free-post-reply-delete}" method="post">
                                            <input type="hidden" th:value="${reply.id}" name="replyId">
                                            <input type="hidden" th:value="${reply.postId}" name="postId">
                                            <button style="font-size: 12px; margin-left: 5px; display: none" class="replyDelete">삭제</button>
                                        </form>
                                    </th:block>
                                </th:block>
                            </div>
                            <!--댓글내용-->
                            <form style="display: flex" th:action="@{/post/free-post-reply-update}" method="post">
                                <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc replyContent" th:text="*{replyContent}">응원합니다</p>
                                <input type="hidden" th:value="*{replyContent}" name="replyContent" class="replyInput">
                                <input type="hidden" th:value="${reply.id}" name="id">
                                <input type="hidden" th:value="${reply.postId}" name="postId">
                            </form>
                        </div>
                        <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                            <span color="gray60" class="sc-5dc55ca7-0 qPkKe replyTime" th:text="*{createDate}">2023.9.20</span>
                        </div>
                    </div>
<!--                    좋아요 버튼 만들곳-->
                    <th:block th:if="${session.user != null}">
                        <form style="display:flex; flex-direction: column;">
                            <input type="hidden" th:value="${reply.id}" name="replyId" class="replyIdInput">
                            <input type="hidden" th:value="${session.user.id}" name="userId" class="userIdInput">
                            <th:block th:if="${reply.status == 1 || reply.status == null}">
                                <button type="button" style="display: block" class="likeButton">
                                    <img src="/icon/nolike.png" style="width: 30px">
                                </button>
                                <button type="button" style="display: none" class="likeCancelButton">
                                    <img src="/icon/like.png" style="width: 30px">
                                </button>
                            </th:block>
                            <th:block th:unless="${reply.status == 1 || reply.status == null}">
                                <button type="button" style="display: none" class="likeButton">
                                    <img src="/icon/nolike.png" style="width: 30px">
                                </button>
                                <button type="button" style="display: block" class="likeCancelButton">
                                    <img src="/icon/like.png" style="width: 30px">
                                </button>
                            </th:block>
                            <span class="likeCount" th:text="${reply.likeCount} != null ? ${reply.likeCount} + '개' : '0개'">개!</span>
                        </form>
                    </th:block>
                    <th:block th:unless="${session.user != null}">
                        <div>
                            <button style="display: block"><img src="/icon/nolike.png" style="width: 30px"></button>
                            <span th:text="${reply.likeCount} != null ? ${reply.likeCount} + '개' : '0개'"></span>
                        </div>
                    </th:block>
                </div>
            </th:block>
            <!--댓글 한칸-->
        </div>
        <div class="sc-8aeb359-0 jwCSyt sc-929b507f-1 cQylDd">
            <button type="button" onclick="location.href='/post/free-post'" color="gray20" class="sc-e7c24948-0 lmXfxh button sc-929b507f-2 ghtCuZ">돌아가기</button>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    let user = [[${session.user}]]
    let post = [[${session.post}]]
    let replys = [[${session.replys}]]
</script>
<script src="/js/post/free-post-detail.js"></script>
</html>