<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JOIN</title>
    <link rel="stylesheet" href="/css/login/join.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
<div id="wrap">
    <div class="div1">
        <div class="div2">
            <main class="main1">
                <div class="main1_div1" style="padding-top: 50px">
                    <h1 class="h1">
                        <span class="span1">
                            <span class="span2" >회원가입</span>
                        </span>
                    </h1>
                </div>
                <article class="main1_article1">
                    <form th:action="@{/login/join}" method="post" th:object="${userVO}" id="form">
                        <input type="hidden" th:value="${userVO.userSchool}" name="userSchool">
                        <input type="hidden" th:value="${userVO.userDivision}" name="userDivision">
                        <input type="hidden" th:value="${userVO.userPosition}" name="userPosition">
                        <div class="div1" style="height: 100%; padding: 55px 0 50px;">
                            <div class="name">
                                <label>
                                    <span>이름</span>
                                </label>
                                <div class="name_div1">
                                    <input type="text" th:field="*{userName}">
                                </div>
                            </div>
                            <div class="id" style="margin-top: 24px">
                                <label>
                                    <span>아이디</span>
                                </label>
                                <div class="id_div1">
                                    <input id="userEmail" type="text" th:field="*{userEmail}" placeholder="'@' 를 포함한 이메일 형태">
                                </div>
                            </div>
                            <div class="password" style="margin-top: 24px">
                                <label>
                                    <span>비밀번호</span>
                                </label>
                                <div class="password_div1">
                                    <input type="password" th:field="*{userPassword}">
                                </div>
                            </div>
                            <div class="passwordCheck" style="margin-top: 24px">
                                <label>
                                    <span>비밀번호 확인</span>
                                </label>
                                <div class="passwordCheck_div1">
                                    <input type="password">
                                </div>
                            </div>
                            <div class="phone" style="margin-top: 24px">
                                <label>
                                    <span>휴대폰 번호</span>
                                </label>
                                <div class="phone_div1">
                                    <div class="phone_div2">
                                        <div class="phone_div3">
                                            <input type="text" th:field="*{userPhone}" placeholder="010-00000-0000" class="userPhoneNum" th:onblur="validatePhoneNumber()">
                                        </div>

                                    </div>
                                    <button type="button" class="phone_b1" disabled>
                                        인증번호 발송
                                    </button>
                                </div>
                            </div>
                            <div id="errorMessge" style="display: none; position: absolute; height: 30px;  align-items: center; padding-left: 15px;">
                                <p style="color: red; font-size: 15px;">잘못된 번호입니다.</p>
                            </div>
                            <div class="phonecheck" style="margin-top: 24px">
                                <label>
                                    <span>인증번호</span>
                                </label>
                                <div class="phonecheck_div1">
                                    <div class="phonecheck_div2">
                                        <input type="text" id="checkNum">
                                    </div>
                                    <button type="button" class="phonecheck_b1">
                                        인증하기
                                    </button>
                                </div>
                            </div>
                            <div class="join" style="margin-top: 24px">
                                <button type="button" id="join" disabled>가입하기</button>
                            </div>
                        </div>
                    </form>
                </article>
            </main>
            <footer class="main2">
                <strong>서비스 이용정보</strong>
                <div>
                    <!--                        여기도 채워야함...-->
                </div>
                <small>
                    Copyright ©
                    <a class="" href="">Kakao Corp.</a>
                    All rights reserved.
                </small>
            </footer>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/login/join.js"></script>
<script th:inline="javascript">
    let join = document.getElementById("join");

    function inp(){
        const input = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 input[name=in]");
        const span1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span1");
        const span2 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span2");


        if(span2.style.visibility === 'visible') {
            span2.style.visibility = 'hidden';
        }
        else{
            span2.style.visibility = 'visible';
        }
    }

    const b1 = document.querySelector('.phone_b1');
    b1.addEventListener("mouseover", (e) => {
        e.target.style.backgroundColor = '#b4b4b4';
    })

    b1.addEventListener("mouseout", (e) => {
        e.target.style.backgroundColor = '#dcdcdc';
    })

    const b2 = document.querySelector('.phonecheck_b1');
    b2.addEventListener("mouseover", (e) => {
        e.target.style.backgroundColor = '#b4b4b4';
    })

    b2.addEventListener("mouseout", (e) => {
        e.target.style.backgroundColor = '#dcdcdc';
    })

    function validatePhoneNumber() {
        var phoneNumberInput = $('.userPhoneNum');
        var phoneNumber = phoneNumberInput.val().replace(/-/g, ''); // '-' 제거
        var pattern = /^(010|011|016|017|018|019)-?\d{3,4}-?\d{4}$/;
        var button = $('.phone_b1');
        var errorMessage = document.getElementById('errorMessge');


        // '-' 없는 경우, 형식에 맞게 변환
        if (phoneNumber.length === 10) {
            phoneNumber = phoneNumber.slice(0, 3) + '-' + phoneNumber.slice(3, 6) + '-' + phoneNumber.slice(6);
        } else if (phoneNumber.length === 8) {
            phoneNumber = '010-' + phoneNumber.slice(0, 4) + '-' + phoneNumber.slice(4);
        } else if (phoneNumber.length === 11) {
            phoneNumber = phoneNumber.slice(0, 3) + '-' + phoneNumber.slice(3, 7) + '-' + phoneNumber.slice(7);
        }

        phoneNumberInput.val(phoneNumber);

        if (pattern.test(phoneNumber)) {
            phoneNumberInput.css({'border': '1px solid #ddd', 'color': 'black'});
            errorMessage.style.display = "none";
            button.prop('disabled', false);
            return $.ajax({
                type: "GET",
                url: "/check/phone",
                data: { phoneNumber: phoneNumber },
            });
        } else {
            $('.userPhoneNum').css({'border': '1px solid red', 'color': 'red'});
            button.prop('disabled', true);
            errorMessage.style.display = "flex";
            return $.Deferred().reject();  // 에러 상태로 리턴
        }
    }

    // 인증번호 발송 쿼리
    $('.phone_b1').click(function() {
        validatePhoneNumber().done(function(exists) {
            console.log(exists)
            if (exists === true) {
                alert("이미 사용 중인 전화번호입니다.");
            } else {
                var phoneNumber = $('#userPhone').val().replace(/-/g, "");
                $.ajax({
                    type: "GET",
                    url: "/check/sendSMS",
                    data: {
                        "phoneNumber" : phoneNumber
                    },
                    success: function(res){
                        $('.phonecheck_b1').click(function(){
                            if($.trim(res) === $('#checkNum').val()){
                                join.disabled = false
                                join.style.backgroundColor = "#191919";
                                join.style.borderColor = "#191919";
                            }else{
                                alert("인증번호가 일치하지 않습니다!")
                            }
                        })
                    }
                });
            }
        }).fail(function() {
            // 에러 처리
        });
    });


//     회원가입 전 email 중복검사
    $("#join").on("click", e => {
        let userEmail = $("#userEmail").val()
        $.ajax({
            type: "GET",
            url: "/check/email",
            data: {
                "userEmail": userEmail
            }, success: function (check) {
                if(check){
                    alert("중복된 이메일 입니다.")
                    return
                }
                    $("#form").submit();
                }
        })
    });


</script>
</html>