<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.playground.mapper.FreePostMapper">
    <insert id="insert">
        INSERT INTO TBL_FREE_POST (ID, FREE_POST_TITLE, FREE_POST_CONTENT, FREE_POST_CREATE_DATE, CREATE_DATE, UPDATE_DATE, USER_ID)
        VALUES (SEQ_FREE_POST.NEXTVAL, #{freePostTitle}, #{freePostContent}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{userId})
    </insert>

    <select id="selectAll" resultType="freePostVO">
        SELECT ROWNUM, ID, FREE_POST_TITLE, FREE_POST_CONTENT, FREE_POST_CREATE_DATE, LIKE_COUNT, REPLY_COUNT, CREATE_DATE, UPDATE_DATE, USER_ID FROM
            (
                SELECT ROWNUM R, ID, FREE_POST_TITLE, FREE_POST_CONTENT, FREE_POST_CREATE_DATE, LIKE_COUNT, REPLY_COUNT, CREATE_DATE, UPDATE_DATE, USER_ID
                FROM
                    (
                        SELECT ID, FREE_POST_TITLE, FREE_POST_CONTENT, FREE_POST_CREATE_DATE, LIKE_COUNT, REPLY_COUNT, CREATE_DATE, UPDATE_DATE, USER_ID
                        FROM TBL_FREE_POST
                        ORDER BY ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
                  and FREE_POST_TITLE  LIKE '%' || #{keyword} || '%'
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectTotal" resultType="int" >
        SELECT COUNT(ID) FROM TBL_FREE_POST
        <if test="keyword != null and !keyword.equals('')">
            WHERE FREE_POST_TITLE LIKE '%' || #{keyword} || '%' OR FREE_POST_CONTENT LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <select id="selectSearch" resultType="freePostVO">
        SELECT ID, FREE_POST_TITLE, FREE_POST_CONTENT, FREE_POST_CREATE_DATE, LIKE_COUNT, REPLY_COUNT, CREATE_DATE, UPDATE_DATE, USER_ID
        FROM
            (
                SELECT ID, FREE_POST_TITLE, FREE_POST_CONTENT, FREE_POST_CREATE_DATE, LIKE_COUNT, REPLY_COUNT, CREATE_DATE, UPDATE_DATE, USER_ID
                FROM TBL_EVENT
                WHERE FREE_POST_TITLE LIKE '%' || #{keyword} || '%' OR FREE_POST_CONTENT LIKE '%' || #{keyword} || '%'
                ORDER BY ID DESC
            )
        <![CDATA[
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <select id="nextPost" resultType="Integer">
        SELECT MIN(ID) AS NEXT_SEQUENCE FROM TBL_EVENT WHERE ID > #{id}
    </select>

    <select id="prevPost" resultType="Integer">
        SELECT MAX(ID) AS PREVIOUS_SEQUENCE FROM TBL_EVENT WHERE #{id} > ID
    </select>
</mapper>