<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.playground.mapper.PostMapper">
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_POST (ID, POST_TITLE, POST_CONTENT)
        VALUES (#{id}, #{postTitle}, #{postContent})
    </insert>

    <insert id="insertFreePost">
        INSERT INTO TBL_FREE_POST (ID, USER_ID) VALUES (#{id}, #{userId})
    </insert>

    <insert id="insertConsultingPost">
        INSERT INTO TBL_CONSULTING_POST (ID, USER_ID) VALUES (#{id}, #{userId})
    </insert>

    <select id="selectFreePost" resultType="freePostDTO">
        SELECT FP.ID, POST_TITLE, POST_CONTENT, FP.CREATE_DATE, FP.UPDATE_DATE, USER_ID, U.USER_NAME, USER_NICKNAME, USER_SCHOOL, USER_DIVISION
        FROM VIEW_FREE_POST FP
        JOIN TBL_USER U ON U.ID = FP.USER_ID
        WHERE FP.ID = #{id}
    </select>

    <select id="selectConsultingPost" resultType="consultingPostDTO">
        SELECT CP.ID, POST_TITLE, POST_CONTENT, CP.CREATE_DATE, CP.UPDATE_DATE, USER_ID, U.USER_NAME, USER_NICKNAME, USER_SCHOOL, USER_DIVISION
        FROM VIEW_CONSULTING_POST CP
        JOIN TBL_USER U ON U.ID = CP.USER_ID
        WHERE CP.ID = #{id}
    </select>

    <select id="selectFreePostList" resultType="freePostDTO">
        SELECT ROWNUM, ID, POST_TITLE, POST_CONTENT, USER_ID, CREATE_DATE, UPDATE_DATE , USER_NAME, USER_SCHOOL, USER_DIVISION
        FROM
            (
                SELECT ROWNUM R, ID, POST_TITLE, POST_CONTENT,  USER_ID, CREATE_DATE, UPDATE_DATE , USER_NAME, USER_SCHOOL, USER_DIVISION
                FROM
                    (
                        SELECT FP.ID, POST_TITLE, POST_CONTENT, USER_ID, FP.CREATE_DATE, FP.UPDATE_DATE , USER_NAME, USER_SCHOOL, USER_DIVISION
                        FROM VIEW_FREE_POST FP
                        JOIN TBL_USER U
                        ON FP.USER_ID = U.ID
                        ORDER BY ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
                  AND POST_TITLE  LIKE '%' || #{keyword} || '%'
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectTotalFreePost" resultType="int" >
        SELECT COUNT(ID) FROM VIEW_FREE_POST
        <if test="keyword != null and !keyword.equals('')">
            WHERE POST_TITLE LIKE '%' || #{keyword} || '%' OR POST_CONTENT LIKE '%' || #{keyword} || '%'
        </if>
    </select>


    <select id="selectConsultingPostList" resultType="consultingPostDTO">
        SELECT ROWNUM, ID, POST_TITLE, POST_CONTENT, CREATE_DATE, UPDATE_DATE, USER_ID, USER_NAME, USER_SCHOOL, USER_DIVISION
        FROM
            (
                SELECT ROWNUM R, ID, POST_TITLE, POST_CONTENT, CREATE_DATE, UPDATE_DATE, USER_ID, USER_NAME, USER_SCHOOL, USER_DIVISION
                FROM
                    (
                        SELECT CP.ID, POST_TITLE, POST_CONTENT, CP.CREATE_DATE, CP.UPDATE_DATE, USER_ID , USER_NAME, USER_SCHOOL, USER_DIVISION
                        FROM VIEW_CONSULTING_POST CP
                                 JOIN TBL_USER U
                                      ON CP.USER_ID = U.ID
                        ORDER BY ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
                  AND POST_TITLE  LIKE '%' || #{keyword} || '%'
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectTotalConsultingPost" resultType="int" >
        SELECT COUNT(ID) FROM VIEW_CONSULTING_POST
        <if test="keyword != null and !keyword.equals('')">
            WHERE POST_TITLE LIKE '%' || #{keyword} || '%' OR POST_CONTENT LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <select id="selectSearchFreePost" resultType="freePostDTO">
        SELECT FP.ID, POST_TITLE, POST_CONTENT, CREATE_DATE, UPDATE_DATE, USER_ID, USER_NAME, USER_NICKNAME, USER_DIVISION
        FROM
            (
                SELECT FP.ID, POST_TITLE, POST_CONTENT, CREATE_DATE, UPDATE_DATE, USER_ID, USER_NAME, USER_NICKNAME, USER_DIVISION
                FROM VIEW_FREE_POST FP
                JOIN TBL_USER U
                ON FP.USER_ID = U.ID
                WHERE POST_TITLE LIKE '%' || #{keyword} || '%' OR POST_CONTENT LIKE '%' || #{keyword} || '%'
                ORDER BY ID DESC
            )
        <![CDATA[
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <select id="selectSearchConsultingPost" resultType="consultingPostDTO">
        SELECT CP.ID, POST_TITLE, POST_CONTENT, CREATE_DATE, UPDATE_DATE, USER_ID, USER_NAME, USER_NICKNAME, USER_DIVISION
        FROM
            (
                SELECT CP.ID, POST_TITLE, POST_CONTENT, CREATE_DATE, UPDATE_DATE, USER_ID, USER_NAME, USER_NICKNAME, USER_DIVISION
                FROM TBL_POST P JOIN TBL_CONSULTING_POST CP
                ON P.ID = CP.ID
                JOIN TBL_USER U
                ON CP.USER_ID = U.ID
                WHERE POST_TITLE LIKE '%' || #{keyword} || '%' OR POST_CONTENT LIKE '%' || #{keyword} || '%'
                ORDER BY ID DESC
            )
        <![CDATA[
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <update id="postUpdate">
        UPDATE TBL_POST
        SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent} , UPDATE_DATE = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <insert id="replyInsert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_REPLY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPLY (ID, REPLY_CONTENT)
        VALUES (#{id}, #{replyContent})
    </insert>

    <insert id="freePostReplyInsert">
        INSERT INTO TBL_FREE_POST_REPLY (ID, POST_ID, USER_ID)
        VALUES (#{id}, #{postId}, #{userId})
    </insert>

    <insert id="consultingPostReplyInsert">
        INSERT INTO TBL_FREE_POST_REPLY (ID, POST_ID, USER_ID)
        VALUES (#{id}, #{postId}, #{userId})
    </insert>

    <update id="replyUpdate">
        UPDATE TBL_REPLY
        SET REPLY_CONTENT = #{replyContent}, UPDATE_DATE = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <delete id="replyDelete">
        DELETE TBL_REPLY
        WHERE ID = #{id}
    </delete>

    <delete id="freePostReplyDelete">
        DELETE TBL_FREE_POST_REPLY
        WHERE ID = #{id}
    </delete>

    <delete id="consultingPostReplyDelete">
        DELETE TBL_FREE_POST_REPLY
        WHERE ID = #{id}
    </delete>

    <insert id="freePostReplyLike">
        INSERT INTO TBL_FREE_POST_REPLY_LIKE(ID, USER_ID, REPLY_ID)
        VALUES (SEQ_FREE_POST_REPLY_LIKE.NEXTVAL, #{userId}, #{replyId})
    </insert>

    <delete id="freePostReplyLikeDelete">
        DELETE TBL_FREE_POST_REPLY_LIKE WHERE ID = #{id}
    </delete>

    <insert id="consultingPostReplyLike">
        INSERT INTO TBL_CONSULTING_POST_REPLY_LIKE(ID, USER_ID, REPLY_ID)
        VALUES (SEQ_CONSULTING_POST_REPLY_LIKE.NEXTVAL, #{userId}, #{replyId})
    </insert>

    <delete id="consultingPostReplyLikeDelete">
        DELETE TBL_CONSULTING_POST_REPLY_LIKE WHERE ID = #{id}
    </delete>

    <delete id="postDelete">
        DELETE TBL_POST
        WHERE ID = #{id}
    </delete>

    <delete id="freePostDelete">
        DELETE TBL_FREE_POST
        WHERE ID = #{id}
    </delete>

    <delete id="consultingPostDelete">
        DELETE TBL_CONSULTING_POST
        WHERE ID = #{id}
    </delete>

    <insert id="freePostLike">
        INSERT INTO TBL_FREE_POST_LIKE(ID, USER_ID, POST_ID)
        VALUES (SEQ_FREE_POST_LIKE.NESTVAL, #{userId}, #{postId})
    </insert>

    <delete id="freePostLikeDelete">
        DELETE TBL_FREE_POST_LIKE WHERE ID = #{id}
    </delete>

    <insert id="consultingPostLike">
        INSERT INTO TBL_CONSULTING_POST_LIKE(ID, USER_ID, POST_ID)
        VALUES (SEQ_CONSULTING_POST_LIKE.NESTVAL, #{userId}, #{postId})
    </insert>

    <delete id="consultingPostLikeDelete">
        DELETE FROM TBL_CONSULTING_POST_LIKE WHERE ID = #{id}
    </delete>

    <delete id="freePostReplyDeleteAll">
        DELETE FROM TBL_FREE_POST_REPLY WHERE POST_ID = #{postId}
    </delete>

    <delete id="freePostReplyLikeDeleteAll">
        DELETE FROM TBL_FREE_POST_REPLY_LIKE
        WHERE REPLY_ID IN
        (
            SELECT R.ID
            FROM TBL_FREE_POST_REPLY R
            JOIN TBL_FREE_POST
            ON R.POST_ID = #{postId}
        )
    </delete>

    <delete id="consultingPostReplyDeleteAll">
        DELETE FROM TBL_CONSULTING_POST_REPLY WHERE POST_ID = #{postId}
    </delete>

    <delete id="consultingPostReplyLikeDeleteAll">
        DELETE FROM TBL_CONSULTING_POST_REPLY_LIKE
        WHERE REPLY_ID IN
        (
            SELECT R.ID
            FROM TBL_CONSULTING_POST_REPLY R
            JOIN TBL_CONSULTING_POST
            ON R.POST_ID = #{postId}
        )
    </delete>
</mapper>