<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.playground.mapper.UserMapper">
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        <choose>
            <when test="userPassword == null">
                INSERT INTO TBL_USER (ID, USER_NAME, USER_NICKNAME, USER_EMAIL, USER_PHONE, USER_SCHOOL, USER_DIVISION, USER_POSITION, USER_AGE,  USER_LOGIN_CODE, USER_PROFILE_NAME, USER_KAKAO_EMAIL, USER_KAKAO_PROFILE_URL)
                VALUES (#{id}, #{userName},#{userNickname}, #{userEmail}, #{userPhone}, #{userSchool}, #{userDivision}, #{userPosition}, #{userAge}, #{userLoginCode}, #{userProfileName}, #{userKakaoEmail}, #{userKakaoProfileUrl})
            </when>
            <otherwise>
                INSERT INTO TBL_USER (ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_PHONE, USER_SCHOOL, USER_DIVISION, USER_POSITION, USER_AGE, USER_LOGIN_CODE)
                VALUES (#{id}, #{userName}, #{userEmail}, #{userPassword}, #{userPhone}, #{userSchool}, #{userDivision},#{userPosition}, #{userAge}, #{userLoginCode})
            </otherwise>
        </choose>

    </insert>

    <select id="select" resultType="userVO">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_PHONE, USER_SCHOOL, USER_DIVISION, USER_POSITION, USER_SNS, TEACHER_EXSIT, USER_GENDER, USER_AGE, CREATE_DATE, UPDATE_DATE, USER_PROFILE_NAME, USER_PROFILE_PATH, USER_STATUS, USER_LOGIN_CODE, USER_NICKNAME, USER_SNS_LOGIN_STATUS, USER_PASSWORD_CHECK, USER_KAKAO_EMAIL, USER_KAKAO_PROFILE_URL
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="selectKakao" resultType="userVO">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_PHONE, USER_SCHOOL, USER_DIVISION, USER_POSITION, USER_SNS, TEACHER_EXSIT, USER_GENDER, USER_AGE, CREATE_DATE, UPDATE_DATE, USER_PROFILE_NAME, USER_PROFILE_PATH, USER_STATUS, USER_LOGIN_CODE, USER_NICKNAME, USER_SNS_LOGIN_STATUS, USER_PASSWORD_CHECK, USER_KAKAO_EMAIL, USER_KAKAO_PROFILE_URL
        FROM TBL_USER
        WHERE USER_KAKAO_EMAIL = #{userKakaoEmail}
    </select>

    <select id="selectUser" resultType="userVO">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_PHONE, USER_SCHOOL, USER_DIVISION, USER_POSITION, USER_SNS, TEACHER_EXSIT, USER_GENDER, USER_AGE, CREATE_DATE, UPDATE_DATE, USER_PROFILE_NAME, USER_PROFILE_PATH, USER_STATUS, USER_LOGIN_CODE, USER_NICKNAME, USER_SNS_LOGIN_STATUS, USER_PASSWORD_CHECK, USER_KAKAO_EMAIL, USER_KAKAO_PROFILE_URL
        FROM TBL_USER
        WHERE id = #{id}
    </select>

    <update id="updateKakoProfile">
        UPDATE TBL_USER
        SET USER_KAKAO_PROFILE_URL = #{userKakaoProfileUrl}
        WHERE USER_KAKAO_EMAIL = #{userKakaoEmail}
    </update>

    <select id="selectByLogin" resultType="userVO">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_PHONE, USER_SCHOOL, USER_DIVISION, USER_POSITION, USER_SNS, TEACHER_EXSIT, USER_GENDER, USER_AGE, CREATE_DATE, UPDATE_DATE, USER_PROFILE_NAME, USER_PROFILE_PATH, USER_STATUS, USER_LOGIN_CODE, USER_NICKNAME, USER_SNS_LOGIN_STATUS, USER_PASSWORD_CHECK, USER_KAKAO_EMAIL, USER_KAKAO_PROFILE_URL
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail} AND USER_PASSWORD = #{userPassword}
    </select>

    <update id="updateBySync">
        UPDATE TBL_USER
        SET USER_KAKAO_EMAIL = #{userKakaoEmail}, USER_KAKAO_PROFILE_URL = #{userKakaoProfileUrl}, USER_LOGIN_CODE = 'KAKAO'
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM TBL_USER
        WHERE ID = #{Id}
    </delete>

    <update id="updateInfo">
        UPDATE TBL_USER
        SET USER_SCHOOL = #{userSchool}, USER_POSITION = #{userPosition}
        WHERE ID = #{id}
    </update>
</mapper>